/* Initial styles for the text */
.logo-title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  color: #43edb5; /* Text is initially transparent */
  -webkit-text-stroke: 1px black; /* Stroke color at the outline of the text */
  transition: color 0.8s ease; /* Smooth transition for text color */
}

/* The underline is initially visible */
.logo-title .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: greenyellow; /* Initial underline color */
  transform: translateY(0); /* Initial position of the underline */
  transition: transform 0.5s ease, background-color 0.5s ease; /* Transition for the underline */
}

/* Hover effect for the text and underline */
.logo-title:hover {
  color: rgb(158, 158, 230); /* Text color on hover */
  -webkit-text-stroke: none;
}

.logo-title:hover .underline {
  transform: translateY(-5000%); /* Underline moves upwards */
 /* Underline color remains the same */
 /* background-color: #43ffbe; */
}
